<!DOCTYPE html>
<html>
<head>
	<title>{{ baseproject_server_name }}</title>
	<style type="text/css">
		body {
			background-color: #28a745;
			color: whitesmoke;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		img {
			margin-top: 15vh;
			max-height: 40vh;
		}
	</style>
</head>
<body>
	<img src="logo.png" alt="Ansible logo"></img>
	<h1>{{ baseproject_server_name }}</h1>
</body>
</html>